*~
#*
*#
.#*
aclocal.m4
autom4te.cache/
configure
config.h.in
cscope.files
cscope*out
gmon.out
config.h
config.log
config.status
.deps
.checkstyle
.cproject
libtool
.metadata
memstomp-*.tar.gz
.project
.settings
stamp-h1
SNAPSHOT
*.o
Makefile
